<app-navbar></app-navbar>
<div class="col-sm-12 text-center">
    <div style="height: 240px; background-color:rgb(235, 235, 235);">
        <h1 >About</h1>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ducimus optio quia error aperiam? Ut repellat perferendis voluptate vitae laudantium deleniti earum officia molestiae id nemo consectetur, corporis nesciunt ex exercitationem dicta aspernatur soluta quaerat? Numquam nesciunt possimus iusto sunt ipsam ad porro perspiciatis harum voluptas quas. Doloremque unde natus nemo alias nisi ipsam accusamus, tempora totam excepturi possimus, modi itaque ratione numquam hic accusantium. Consectetur a dolores voluptatum quam cumque aspernatur debitis error quae! Vitae dolorem numquam dolores aperiam doloremque, quod sit quibusdam ducimus? Quam hic, excepturi rem officiis repellat accusamus reiciendis quas soluta, aliquid eveniet velit, totam libero?</p>
    </div>
</div>
